// ======================================================================== //
// Your variables below
// ======================================================================== //

// Body
$body-bg: #f8fafc;

// Typography
$font-Noto-sans: Noto Sans;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$labelcolor: #CA5C55;
$required: #D50000;
$erroralert: #D72928;
$dropdownlist: #ca5c5526;
